<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png"></link>
</head>

<body>
    <div class="main-content"> 
 {{>header}}
    <h3>{{errorMessage}}</h1>
    </div>
   
        {{>footer}}
</body>

</html>