<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png"></link>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/robot.png" alt="profile pic" class="portrait">
    </div>

    {{>footer}}
</body>

</html>