<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
  </link>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p> Use this site to get weather!</p>
    <form>
      <input type="text" placeholder="Location" name="address">
      <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

  </div>
  {{>footer}}
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>